.cashback_box{
    margin-top: 2rem;
    background-color: #FAFAFA;
    padding: 3rem;
    border-radius: 10px;
    align-items: center;

    .cashback_image{
        width: 80%;
        margin: 0 auto;

        img{
            width: 100%;
        }
    }

    .cashback_info{
        h1{
            font-size: 20px;
            font-family: montserrat;
            font-weight: bold;
            color: #000000;
            margin-bottom: -4px;
        }

        span{
            font-size: 12px;
            font-family: montserrat;
            font-weight: bold;
            color: #32323280;
        }

        p{
            font-size: 14px;
            font-family: montserrat;
            color: #000000;
            margin-top: 20px;
        }
    }

    .cashback_discount{
        h1{
            font-size: 52px;
            font-family: montserrat;
            font-weight: bold;
            color: #FF6400;
            text-align: right;
        }

        p{
            font-size: 10px;
            font-family: montserrat;
            font-weight: bold;
            color: #32323280;
            text-align: right;
            margin-top: -16px;
        }
    }
}