@font-face {
    font-family: extra-light;
    src: url(/assets/fonts/Coco-Sharp-Extralight-trial.ttf);
}

@font-face {
    font-family: light;
    src: url(/assets/fonts/Coco-Sharp-Light-trial.ttf);
}

@font-face {
    font-family: regular;
    src: url(/assets/fonts/Coco-Sharp-Regular-trial.ttf);
}

@font-face {
    font-family: bold;
    src: url(/assets/fonts/Coco-Sharp-Bold-trial.ttf);
}

@font-face {
    font-family: regularpro;
    src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: semiboldpro;
    src: url(/assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: boldpro;
    src: url(/assets/fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/assets/fonts/Poppins-SemiBold.ttf);
}