.password_container{
    width: 560px;
    margin: 0 auto;
}

.resetpassword{
    background-color: #FF6400;
    overflow-x: scroll;

    .password_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0 1rem;

        .password_lang{
            a{
                text-decoration: none;
                color: #E0E0E0;
                font-size: 14px;
                font-family: montserrat;
                font-weight: bold;

                &:hover{
                    color: #FFFFFF;
                }
            }

            .selected_lang{
                color: #FFFFFF;
            }
        }
    }

    .password_content{
        width: 560px;
        min-height: 500px;
        margin: 0 auto 3rem;
        padding: 3rem 4rem;
        background-color: #FFFFFF;
        border-radius: 5px;
        box-shadow: -8px 3px 12px 4px rgba(0,0,0,0.08);

        p{
            font-size: 20px;
            font-family: montserrat;
            font-weight: bold;
            color: #000000;
            text-align: center;
        }

        form{
            .reset_input{
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    background-color: #FF6400;
                    transition: 0.5s;
                }

                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    width: 0;
                    height: 2px;
                    background-color: #FF6400;
                    transition: 0.5s;
                }

                &:hover::before{
                    width: 50%;
                }

                &:hover::after{
                    width: 50%;
                }

                .form-icon{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    font-size: 20px;
                    color: #FF6400;
                }

                input{
                    display: block;
                    margin-bottom: 1rem;
                    padding: 1rem 2rem;
                    width: 100%;
                    font-size: 16px;
                    font-family: montserrat;
                    outline-style: none;
                    border: none;
                    border-bottom: 3px solid #FAFAFA;
                }

                .show_password{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    font-size: 16px;
                    cursor: pointer;
                }
            }

            button{
                margin: 2rem 0 1rem;
                font-size: 16px;
                font-family: montserrat;
                font-weight: bold;
                color: #FFFFFF;
                background-color: #FF6400;
                border-radius: 5px;
                border: none;
                outline-style: none;
                width: 100%;
                height: 64px;
            }
        }

        a{
            font-size: 12px;
            font-family: montserrat;
            font-weight: bold;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }

    .reset_content{
        width: 560px;
        height: 300px;
        margin: 0 auto 3rem;
        padding: 2rem;
        background-color: #FFFFFF;
        border-radius: 5px;
        box-shadow: -8px 3px 12px 4px rgba(0,0,0,0.08);

        h1{
            font-size: 20px;
            font-family: montserrat;
            font-weight: bold;
            color: #000000;
            text-align: center;
        }

        p{
            font-size: 14px;
            font-family: montserrat;
            font-weight: 600;
            line-height: 16px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color: #969696;
        }

        form{
            margin: 20px 0;

            input{
                display: block;
                width: 70%;
                margin: 0 auto 24px;
                height: 45px;
                border-radius: 5px;
                outline-style: none;
                border: 2px dashed #FF6400;
                font-size: 16px;
                font-family: montserrat;
                font-weight: 600;
                padding: 0 16px;
            }

            button{
                font-size: 16px;
                font-family: montserrat;
                font-weight: bold;
                color: #FFFFFF;
                background-color: #FF6400;
                height: 50px;
                padding: 0 40px;
                border-radius: 25px;
                outline-style: none;
                border: none;
                display: block;
                margin: 0 auto;
            }
        }

        a{
            font-size: 12px;
            font-family: montserrat;
            font-weight: bold;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
}